.banner {
  background: #ffd740;
  color: #000;
  padding: 0.5em 2em;
}
.nav {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0 12px;
  left: 0;
  right: 0;
}
.nav.fixedNav {
  position: fixed;
  z-index: 1;
}
.nav a {
  color: #FFF;
  padding: 8px;
  margin: 8px;
  text-decoration: none;
}
.nav .button {
  background: #EC407A;
  border-radius: 4px;
}

.navTitle {
  display: flex;
  align-items: center;
}
.navIcon {
  height: 60px;
  margin: 6px;
}
.navTitle h2 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}
